ingress:
  host: "nginx.fatherfedor.shop"

service: 
  name: sv-nginx

deploy:
  replica: {{ number_replicas_from_terraform }}

image:
  repository: {{ aws_user_id_from_terraform }}.dkr.ecr.{{ region_from_terraform }}.amazonaws.com
  pullPolicy: Always

resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 200m
    memory: 200Mi     